@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* base style */
  html,
  body {
    width: 100%;
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
  }

  /* mdx renderer style */
  p > code > span {
    @apply text-system-2;
  }

  .mdx-renderer > h3 {
    @apply relative font-medium text-3xl md:text-4xl tracking-tighter mt-16 mb-6;
  }

  .mdx-renderer > h3 > a:hover:before {
    @apply absolute -left-9 text-greyscale-7;
    content: "#";
  }

  .mdx-renderer > h4 {
    @apply font-medium text-xl md:text-2xl tracking-tighter mt-16 mb-6;
  }

  .mdx-renderer > p {
    @apply leading-relaxed text-base md:text-lg dark:text-greyscale-4 my-4;
  }

  .mdx-renderer > p > a {
    @apply text-greyscale-9 dark:text-greyscale-0 text-base md:text-lg my-4 underline underline-offset-4;
  }

  .mdx-renderer > blockquote {
    @apply leading-relaxed text-base md:text-lg italic border-l-4 border-l-greyscale-7 my-12 pl-5;
  }

  .mdx-renderer > ul > li {
    @apply relative leading-relaxed text-base md:text-lg dark:text-greyscale-4 my-4 pl-4 ml-2;
  }

  .mdx-renderer > ul > li > a {
    @apply text-greyscale-9 dark:text-greyscale-0 text-base md:text-lg my-4 underline underline-offset-4;
  }

  .mdx-renderer > ul > li::before {
    @apply absolute left-0 text-xl md:text-2xl;
    content: "·";
  }

  .mdx-renderer > pre {
    @apply my-12;
  }
}

@layer components {
  .responsive {
    @apply mx-auto w-full px-4 md:w-[768px] md:px-0 lg:w-[1024px] xl:w-[1280px];
  }
  .card {
    @apply border border-greyscale-5 dark:border-greyscale-7 bg-greyscale-1 dark:bg-greyscale-8 rounded flex items-center justify-between px-3 py-4;
  }
}
